.rodape{
    padding: 1.1em 10em;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
}

.rodape{
    color: var(--branco);
    font-size: 18px;
    font-weight: 400;
}